{% extends 'base_template.html' %}
{% block body %}
<body class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dashboard_area">
                   {% include 'flash_messages.html' %}
                    <!--PROFILE AREA-->
                    <h1>PROFILE</h1><br>
                    <a><span class="profile_circle"></span><br><br></a>
                    <p><b>Name:</b> {{ current_user.username.upper() }}</p><br>
                    <p><b>Active Book Club:</b>
                        {% if 'active' in session %}
                            {{ session['active'] }}
                        {% else %}
                            No Book Club Selected
                        {% endif %}
                    </p><br>

                    <!--BOOK CLUB AREA-->
                    <h1 class="heading_format">Book Clubs</h1><br>
                    <blockquote>
                        <!--display book club-->
                        <ul class="book_club">
                            {% for book_club in book_clubs %}
                                <li class="bottom_nav">
                                    <a href="{{url_for('dashboard_bp.book_club_selection', id=book_club.id)}}" onclick="showMe()"><h3 class="heading_2">{{book_club['name']}}</h3></a>
                                </li>
                                <blockquote>
                                    <div id="BookClubBook">
                                        <li>
                                            <h2 class="heading_format">Books</h2><br>
                                            <ul>
                                                <li><a onclick="setId()" >{{ book_club['book'] }}</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                </blockquote>
                            {% endfor %}
                        </ul>
                    </blockquote>

                    <ul class="bottom_nav">
                        <h4 class="bottom_nav"><a href="{{ url_for('book_club_book_bp.add_book')}}">Add a Book to the Book Club</a></h4>
                        <h4 class="bottom_nav"><a href="{{ url_for('book_club_bp.create_book_club')}}">Create a Book Club</a></h4>
                        <h4 class="bottom_nav"><a href="{{ url_for('book_club_bp.join_book_club')}}">Join a Book Club</a></h4>

                        {% if session['admin'] %}
                            <h4 class="bottom_nav"><a href="{{ url_for('book_club_bp.approve_join_request')}}">View Join Requests</a></h4>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
<script language="JavaScript">
    function showMe() {
    BookClubBook.style.display = "";
    }

    function setId() {
        var id = 1
    }
</script>
{% endblock %}