/*body*/
.body{
    background-color:#C0C0C0;
    margin-right:5%;
    margin-left:5%;
    margin-top:5px;
}
/*headings*/
h1, .h1 {
  font-size: 36px;
  margin-right: 25%;
  margin-left:25%;
  color: gray;
  font-weight: bold;
}

h3,
.h3 {
  font-size: 24px;
  margin-right: 25%;
  margin-left:25%;
  color: gray;
}


/*flash messages*/
.flash_msgs{
    color: red;
    margin-left: 25%;
    margin-right: 25%;
    list-style: none;
    font-size: 18px;

}