{% extends 'base_index.html' %}
{% block content %}
    <div class="welcome_page">
        {% include 'base_image_slider.html' %}
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}

        It is said <b>a man who reads lives a thousand lives.</b> How many lives are you living?<br><br>
        <ul class="welcome_questions">
            <li>Do You wish to find a group of people to discuss books you have or are reading?</li>
            <li>Do You want a book club to help you in reading? </li>
            <li>Are you a fun of reading books? </li>
            <li>Ultimately, Do You want to live 1000 lives? </li>
        </ul>
        Search no more... Welcome to Book Club Chat App.<br>
        Have your mind engaged and blown in searching knowledge, wisdom, insights and understanding through various books and authors. <br><br>
        To continue you can <a href="{{url_for('home_bp.redirect_login')}}">login</a> or
        <a href="{{url_for('home_bp.redirect_signup')}}">sign up</a> to register.<br><br>
    </div>
{% endblock %}