{% extends "base_authentication.html" %}
{% block content %}
<h3 class="h3">Please Log In by filling up your details below</h3>

    <!--form formatting-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!--Form-->
                <form role="form" action="" method="POST">

                    <!--email kwarg-->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" name="email" placeholder="enter email address here">
                    </div>

                    <!--pwd kwarg-->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" name="password" placeholder="enter password. Must be at least 6 characters">
                    </div>

                    <input type="hidden" name="secret_key" value="Password">

                    <!--reset button-->
                    <button type="reset" name="reset" class="btn btn-default" value="Form Cleared">Clear</button>

                    <!--submit button-->
                    <button type="submit" name="submit" class="btn btn-default" value="Form Sent">Submit</button>

                    <!--flash messages-->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class="flash_msgs">
                                {% for message in messages %}
                                    <li>{{message}} <a href="{{url_for('try_signup')}}">SignUp </a>to create an account</li>
                                {% endfor %}
                        {% endif%}
                    {% endwith %}
                        </ul>


                </form>
            </div>
        </div>
    </div>
{% endblock %}