{% extends 'base.html' %}
{% block content %}
<h3 class="h3">Please Log In by filling up your details below</h3>
    <!--form formatting-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="body">
                    <!--Form-->
                    <form role="form" action="" method="POST">

                        {{form.hidden_tag()}}
                        <!--email kwarg-->
                        <div class="form-group">
                            <label for="username">Username</label>
                            {{form.username(class="form-control", placeholder="Enter username here.")}}
                            {% if form.username.errors %}
                                <ul class="error">{% for error in form.username.errors%}
                                    <li>{{error}}</li>
                                </ul>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <!--pwd kwarg-->
                        <div class="form-group">
                            <label for="password">Password</label>
                            {{ form.password(class="form-control", placeholder="Enter password. Must be at least 6 characters") }}
                            {% if form.password.errors %}
                                <ul class="error">
                                    {% for error in form.password.errors%}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <p> {{ form.remember_me() }} {{ form.remember_me.label }}</p>

                        <!--reset button-->
                        <button type="reset" name="reset" class="btn btn-danger" value="Form Cleared">Clear</button>

                        <!--submit button-->
                        <button type="submit" name="submit" class="btn btn-success" value="Form Sent">Submit</button>

                        <!--flash messages-->
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class="flash">
                                    {% for message in messages %}
                                        <li>{{message}} <a href="{{url_for('login_bp.try_signup')}}">SignUp </a>to create an account</li>
                                    {% endfor %}
                                 </ul>
                            {% endif%}
                        {% endwith %}

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}