<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            Chat App
        {% endif %}
    </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sign_up_log_in.css')}}">
    <link rel = "shortcut icon" href = "{{ url_for('static', filename='images/title_icon.jpeg') }}"/>

</head>
<body class="signup_body">
    <!--Navigation links-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('home_bp.index')}}">Home</a></li>
                <li><a href="{{url_for('chatter_bp.show_posts')}}">Chats</a></li>
                <li><a href="{{ url_for('home_bp.to_dashboard') }}">Dashboard</a></li>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('signup_bp.signup') }}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                    <li class="current"><a href="{{ url_for('login_bp.login') }}"><span class="glyphicon glyphicon-log-in"></span>LogIn</a></li>
                </ul>
                {% if session['admin']%}
                    <li><a href="{{ url_for('book_club_bp.approve_join_request')}}">Join Requests</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
    <h1 class="h1">Welcome to Book Club Chat App</h1>
    {% block content %}
    {% endblock %}

</body>
</html>