<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}">

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar">
                    <ul>
                        <li>Home</li>
                        <li>Chats</li>
                        <li>Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</body>
</html>