<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{ page_title }}
    </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sign_up_log_in.css')}}">
    <link rel = "shortcut icon" href = "{{ url_for('static', filename='images/title_icon.jpeg') }}"/>

</head>
<body class="signup_body">
    <h1 class="h1">Welcome to Book Club Chat App</h1>
    {% block content %}
    {% endblock %}

</body>
</html>