{% extends "base_authentication.html" %}
    <title>
        {{ page_title }}
    </title>

{% block content %}
<h3>Please sign up by filling up your details below</h3>

    <!--form formatting-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="body">

                    <!--Form-->
                    <form role="form" action="" method="POST">

                        <!--email kwarg-->
                        <div class="form-group">
                            <label for="email">Email</label>
                            {{form.email(class="form-control", placeholder="Enter email address here.")}}
                            {% if form.email.errors %}
                                <ul class="error">{% for error in form.email.errors%}
                                    <li>{{error}}</li>
                                </ul>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <!--username kwarg-->
                        <div class="form-group">
                            <label for="username">Username</label>
                             {{ form.username(class="form-control", placeholder="Create a Username") }}
                            {% if form.username.errors %}
                                <ul class="error">{% for error in form.username.errors%}
                                    <li>{{error}}</li>
                                </ul>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <!--pwd kwarg-->
                        <div class="form-group">
                            <label for="password">Password</label>
                            {{ form.password(class="form-control", placeholder="Enter password. Must be at least 6 characters") }}
                            {% if form.password.errors %}
                                <ul class="error">{% for error in form.password.errors%}
                                    <li>{{error}}</li>
                                </ul>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <!--confirm pwd kwarg-->
                        <div class="form-group">
                            <label for="password">Confirm Password</label>
                            {{ form.confirm_password(class="form-control", placeholder="Re-enter password. Must above password") }}
                            {% if form.confirm_password.errors %}
                                <ul class="error">{% for error in form.password.errors%}
                                    <li>{{error}}</li>
                                </ul>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <input type="hidden" name="secret_key" value="Password">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <!--reset button-->
                        <button type="reset" name="reset" class="btn btn-danger" value="Form Cleared">Clear</button>

                        <!--submit button-->
                        <button type="submit" name="submit" class="btn btn-success" value="Form Sent">Submit</button>

                        <div>
                            <!--flash messages-->
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <ul class="flash">
                                        {% for message in messages %}
                                            <li>{{message}} <a href="{{url_for('signup_bp.try_login')}}">Log In</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif%}
                            {% endwith %}

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}