.body {
    font-family: sans-serif;
    background: #eee;
    }

a, .heading_1, .heading_2 {color: #377ba8; }

.heading_1, .heading_2 {
        font-family: Georgia , serif;
        margin-right:25%;
        margin-left:25%;
        }

.heading_1 {border-bottom: 2px solid #eee; }

.heading_2 {font-size: 1.2em;
    border-bottom: 5px solid #eee;
    }

.pages {
    margin: 2em auto;
    margin-top: 15px;
    width: 65em;
    border: 8px solid #ccc;
    border-radius:10px;
    padding: 0.8em;
    background: white;
    text-align:left;
    }

.posts { list-style: none; margin: 0; padding: 0; }

.posts li { margin: 0.8em 1.2em; }

.posts li h2 { margin-left: -1em; }

.metanav { text-align: right; font-size: 0.8em; padding: 0.3em;
margin-bottom: 1em; background: #fafafa; }

.flash{ background: #cee5F5; padding: 0.5em;
border: 1px solid #aacbe2; }

.error{ background: #f0d6d6; padding: 0.5em; }

.current{
    background-color:yellow;
}