{% extends 'base_template.html' %}
<!-- TODO: Add a navigation Item -->
<!--{% block nav %}-->
<!--    <li class="current"><a href="#">Register Book Club</a></li>-->
<!--{% endblock%}-->

{% block body%}
<body class="signup_body">
    <h3>Please fill in the details below to create a book club</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="body">
                    <form role="form" method="POST">
                        {{ form.hidden_tag() }}
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class="flash">
                                    {% for message in messages %}
                                        <li>{{message}} <a href="{{url_for('signup_bp.try_login')}}">Log In</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif%}
                        {% endwith %}

                        <!--book club name-->
                        <div class="form-group">
                            <label for="book_club_name">Book Club Name</label>
                            {{ form.book_club_name(class="form-control", placeholder="Enter Book Club Name Here") }}
                            {% if form.book_club_name.errors %}
                                <ul class="error">
                                    {% for error in form.book_club_name.errors %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <!--Description-->
                        <div class="form-group">
                            <label for="description">Group Description</label>
                            <textarea name="description" rows=5 cols=5 class="form-control" placeholder="Give description of this group"></textarea>
                            {% if form.description.errors %}
                                <ul class="error">
                                    {% for error in form.description.errors %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                             {% endif %}
                        </div>


                        <hr>
                        <hr>
                        <hr>
                        <!--details of book being read-->

                        <!--book name-->
                        <div class="form-group">
                            <label for="book_name">Book Title</label>
                            {{ form.book_name(class="form-control", placeholder="Enter name of the current book.")}}
                             {% if form.book_name.errors %}
                                <ul class="error">
                                    {% for error in form.book_name.errors %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                             {% endif %}
                        </div>

                        <!--Author-->
                        <div class="form-group">
                            <label for="book_author">Book Author</label>
                            {{ form.book_author(class="form-control", placeholder="Enter name of the author.")}}
                             {% if form.book_author.errors %}
                                <ul class="error">
                                    {% for error in form.book_author.errors %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                             {% endif %}
                        </div>

                        <!--ISBN-->
                        <div class="form-group">
                            <label for="book_isbn">Book ISBN</label>
                            {{ form.book_isbn(class="form-control", placeholder="Enter ISBN of the book (check back cover).")}}
                             {% if form.book_isbn.errors %}
                                <ul class="error">
                                    {% for error in form.book_isbn.errors %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                             {% endif %}
                        </div>

                        <!--ISBN-->
                        <div class="form-group">
                            <label for="book_category">Book Category</label>
                            {{ form.book_category(class="form-control", placeholder="Enter category of the book.")}}
                             {% if form.book_category.errors %}
                                <ul class="error">
                                    {% for error in form.book_category.errors %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                             {% endif %}
                        </div>

                        <!--Review-->
                        <div class="form-group">
                            <label for="book_review">Book Review</label>
                            <textarea name="book_review" rows=5 cols=40 class="form-control" placeholder="Give Review of the book if any or a sneak peak of the foreword..."></textarea>
                            <!--{{ form.book_review(class="form-control", placeholder="Enter review of the book.")}}-->
                            {% if form.book_review.errors %}
                                <ul class="error">
                                    {% for error in form.book_review.errors %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                             {% endif %}
                        </div>

                        <!--reset button-->
                        <button type="reset" name="reset" class="btn btn-danger" value="Form Cleared">Clear</button>

                        <!--submit button-->
                        <button type="submit" name="submit" class="btn btn-success" value="Form Sent">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
